{
    "token": "<bot_token>",
    "client_id": "<client_id>",
    "watching_message": "your favourite streamers!",
    "notify": {
        "picarto": [
            ["<user>", "<roleid_to_ping>"]
        ],
        "piczel": [],
        "twitch": []
    },
    "twitchAPI": {
        "secret": "",
        "client_id": ""
    },
    "notifyChannel": "<notify_in_channel>",
    "pingRate": 10,
    "logTimestamps": true,
    "debug": false
}